* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.navbar {
    background: #c30d19;
    padding: 30px;
    font-family: Arial;
    font-weight: lighter;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation li {
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.data {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    padding: 50px;
    width: 100%;
}

.data p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.data img {
    align-items: center;
    align-self: center;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    height: 50%;
    border-radius: 2px;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    background: #c30d19;
    height: 10vh;
    padding: 30px;
    padding-left: 47%;
    display: flex;
    color: #fff;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}

.footer li {
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    display: inline-block;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}